# Week 4 â€“ Data Audit (TechHub Retail)

## 1. Load Libraries

In [1]:
import pandas as pd

## 2. Load Datasets

In [5]:
sales_df = pd.read_csv("C:\\Users\\iveli\\OneDrive\\Desktop\\Data_week4\\TechHub_Sales_Data.csv")
customers_df = pd.read_csv("C:\\Users\\iveli\\OneDrive\\Desktop\\Data_week4\\TechHub_Customers.csv")
products_df = pd.read_csv("C:\\Users\\iveli\\OneDrive\\Desktop\\Data_week4\\TechHub_Products.csv")

In [6]:
sales_df = pd.read_csv(r"C:\Users\iveli\OneDrive\Desktop\Data_week4\TechHub_Sales_Data.csv")
customers_df = pd.read_csv(r"C:\Users\iveli\OneDrive\Desktop\Data_week4\TechHub_Customers.csv")
products_df = pd.read_csv(r"C:\Users\iveli\OneDrive\Desktop\Data_week4\TechHub_Products.csv")

In [7]:
sales_df = pd.read_csv("C:/Users/iveli/OneDrive/Desktop/Data_week4/TechHub_Sales_Data.csv")
customers_df = pd.read_csv("C:/Users/iveli/OneDrive/Desktop/Data_week4/TechHub_Customers.csv")
products_df = pd.read_csv("C:/Users/iveli/OneDrive/Desktop/Data_week4/TechHub_Products.csv")

In [8]:
customers_df = pd.read_csv(r"C:\Users\iveli\OneDrive\Desktop\Data_week4\TechHub_Customers.csv")

## 3. Preview Data (head, info)

In [9]:
sales_df.head()

,order_date,customer_id,product_id,product_category,revenue,quantity,region,customer_acquisition_channel
0,2023-12-05,C0291,P0084,Monitors,3086.76,2,West Midlands,Referral
1,2023-08-08,C2209,P0080,Tablets,1033.86,2,South West,Organic
2,2024-04-29,C1668,P0049,Tablets,644.56,2,South East,Organic
3,2024-03-17,C1452,P0099,Networking,659.20,4,North East,Paid
4,2023-02-25,C2759,P0095,Smartphones,174.85,1,London,Paid

In [10]:
sales_df.head()

,order_date,customer_id,product_id,product_category,revenue,quantity,region,customer_acquisition_channel
0,2023-12-05,C0291,P0084,Monitors,3086.76,2,West Midlands,Referral
1,2023-08-08,C2209,P0080,Tablets,1033.86,2,South West,Organic
2,2024-04-29,C1668,P0049,Tablets,644.56,2,South East,Organic
3,2024-03-17,C1452,P0099,Networking,659.20,4,North East,Paid
4,2023-02-25,C2759,P0095,Smartphones,174.85,1,London,Paid

In [11]:
customers_df.head()

,customer_id,signup_date,age_group,gender,city,customer_type,loyalty_tier
0,C0001,2020-06-11,18-25,Male,Liverpool,New,Silver
1,C0002,2022-04-11,56-65,Male,Newcastle,New,Gold
2,C0003,2020-09-27,26-35,Male,Cardiff,Returning,Bronze
3,C0004,2023-06-19,56-65,Female,Leicester,New,Bronze
4,C0005,2022-04-08,26-35,Male,Leicester,New,Silver

In [12]:
products_df.head()

,product_id,product_name,product_category,cost_price,list_price,supplier,launch_date
0,P0001,Purpose Networkin,Networking,73.76,89.25,TechCorp,2019-12-12
1,P0002,Ago Smartphone,Smartphones,749.65,1027.53,Nova Electronics,2021-05-04
2,P0003,Election Monitor,Monitors,610.97,679.83,TechCorp,2020-11-24
3,P0004,Chair Laptop,Laptops,271.03,363.40,Nova Electronics,2019-11-15
4,P0005,Require Monitor,Monitors,730.22,1008.09,Nova Electronics,2023-08-22

## 4. Convert Date Columns

In [13]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   order_date                    12000 non-null  object
 1   customer_id                   12000 non-null  object
 2   product_id                    12000 non-null  object
 3   product_category              12000 non-null  object
 4   revenue                       12000 non-null  float64
 5   quantity                      12000 non-null  int64
 6   region                        12000 non-null  object
 7   customer_acquisition_channel  12000 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 750.1+ KB

In [14]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    3500 non-null   object
 1   signup_date    3500 non-null   object
 2   age_group      3500 non-null   object
 3   gender         3500 non-null   object
 4   city           3500 non-null   object
 5   customer_type  3500 non-null   object
 6   loyalty_tier   3500 non-null   object
dtypes: object(7)
memory usage: 191.5+ KB

In [15]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        320 non-null    object
 1   product_name      320 non-null    object
 2   product_category  320 non-null    object
 3   cost_price        320 non-null    float64
 4   list_price        320 non-null    float64
 5   supplier          320 non-null    object
 6   launch_date       320 non-null    object
dtypes: float64(2), object(5)
memory usage: 17.6+ KB

In [16]:
sales_df.shape
customers_df.shape
products_df.shape

(320, 7)

## 5. Check Keys & Duplicates

In [27]:
set(sales_df['customer_id']) - set(customers_df['customer_id'])

set()

In [17]:
products_df['launch_date'] = pd.to_datetime(products_df['launch_date'])

In [18]:
customers_df['signup_date'] = pd.to_datetime(customers_df['signup_date'])

In [19]:
products_df['launch_date'] = pd.to_datetime(products_df['launch_date'])

In [20]:
customers_df.info()
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    3500 non-null   object
 1   signup_date    3500 non-null   datetime64[ns]
 2   age_group      3500 non-null   object
 3   gender         3500 non-null   object
 4   city           3500 non-null   object
 5   customer_type  3500 non-null   object
 6   loyalty_tier   3500 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 191.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        320 non-null    object
 1   product_name      320 non-null    object
 2   product_category  320 non-null    object
 3   cost_price        320 non-null    float64
 4   list_price        320 non-null    float64
 5   supplier          320 non-null    object
 6   launch_date       320 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 17.6+ KB

In [21]:
customers_df['signup_date'] = pd.to_datetime(customers_df['signup_date'])
products_df['launch_date'] = pd.to_datetime(products_df['launch_date'])

In [22]:
customers_df.info()
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    3500 non-null   object
 1   signup_date    3500 non-null   datetime64[ns]
 2   age_group      3500 non-null   object
 3   gender         3500 non-null   object
 4   city           3500 non-null   object
 5   customer_type  3500 non-null   object
 6   loyalty_tier   3500 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 191.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        320 non-null    object
 1   product_name      320 non-null    object
 2   product_category  320 non-null    object
 3   cost_price        320 non-null    float64
 4   list_price        320 non-null    float64
 5   supplier          320 non-null    object
 6   launch_date       320 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 17.6+ KB

In [23]:
sales_df['order_date'].isnull().sum(), sales_df.duplicated().sum()
customers_df['customer_id'].duplicated().sum()
products_df['product_id'].duplicated().sum()

np.int64(0)

In [24]:
# Which customer_ids in sales are NOT in customers?
set(sales_df['customer_id']) - set(customers_df['customer_id'])

# Which product_ids in sales are NOT in products?
set(sales_df['product_id']) - set(products_df['product_id'])

set()

## 6. Save Cleaned Files

In [25]:
sales_df.to_csv("sales_clean.csv", index=False)
customers_df.to_csv("customers_clean.csv", index=False)
products_df.to_csv("products_clean.csv", index=False)